body {
  background-color: $base-color;
  font-family: $font-family-base;
  color: $base-textColor;
}

.navbar__logo {
  color: $primary !important;
  font-family: $font-family-heading;
  font-weight: 700;
}
h1 {
  color: $primary;
  font-family: $font-family-heading;
}

a {
  color: $base-textColor;
  text-decoration: none;
}
// h2{}
// h3{

// }
